name: Flutter CI

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/*.dart"

jobs:
  flutter-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install packages
        run: flutter pub get

      - name: Linter
        run: flutter analyze
